@{
    ViewData["Title"] = "Parm Page";
}

<div class="text-center">
    <h1 class="display-4">Parm/Index</h1>
    <p>string : Id = @ViewBag.Id</p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Parm" asp-action="Uri01">Uri01</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Parm" asp-action="Uri02">Uri02</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Parm" asp-action="Uri03">Uri03</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Parm" asp-action="Uri04">Uri04</a>
</div>
