@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <a class="nav-link text-dark" asp-area="" asp-controller="Start" asp-action="Index">Home</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Start" asp-action="One">One</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Start" asp-action="Two">Two</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Start" asp-action="Three">Three</a>
</div>
